{% load i18n widget_tweaks %}
{% for field in form %}
<div class="mb-3">
    {% if field.name != 'expense_date' or not is_page %}
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
    {% endif %}
    {% if field.name == 'employee' %}
    <div class="input-group">
        {% render_field field class="form-select" %}
        <a href="{% url 'employee_create' %}" class="{{ add_button_class }}" {% if is_modal %}data-modal-title="{% trans 'New employee' %}"{% endif %} title="{% trans 'Add new employee' %}"><i class="bi bi-plus"></i></a>
    </div>
    {% elif field.name == 'expense_type' %}
    <div class="input-group">
        {% render_field field class="form-select" %}
        <a href="{% url 'expense_type_create' %}" class="{{ add_button_class }}" {% if is_modal %}data-modal-title="{% trans 'New expense type' %}"{% endif %} title="{% trans 'Add new expense type' %}"><i class="bi bi-plus"></i></a>
    </div>
    {% elif field.name == 'expense_date' and is_page %}
        {{ field.as_hidden }}
    {% elif field.name == 'amount' %}
    <input type="text"
            name="{{ field.name }}"
            id="{{ field.id_for_label }}"
            value="{{ field.value|default_if_none:'' }}"
            class="form-control"
            placeholder="{% trans 'Enter amount' %}"
            autocomplete="off"
            inputmode="decimal"
            pattern="^\d+([.,]\d{1,2})?$">
    {% else %}
    {% render_field field class="form-control" %}
    {% endif %}

    {% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
    {% for error in field.errors %}
    <div class="invalid-feedback d-block">{{ error }}</div>
    {% endfor %}
</div>
{% endfor %}