{% extends "salary/index.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %} | {{ title }}{% endblock %}

{% block head %}
{{ block.super }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block body %}
<div class="form-container">
    <h4 class="mb-4 text-center">{{ title }}</h4>
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                
                {% with add_button_class="btn btn-outline-secondary" is_modal=False is_page=True %}
                    {% include "salary/_production_expense_form_fields.html" %}
                {% endwith %}

                <div class="d-flex justify-content-end gap-2">
                  <a href="{% url 'production_expense_list' %}" class="btn btn-secondary btn-sm"><i class="bi bi-x-lg me-1"></i>{% trans "Cancel" %}</a>
                  <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-check-lg me-1"></i>{% trans "Save" %}</button>
                </div>
              </form>
        </div>
    </div>
</div>
{% endblock %}