{% extends "salary/index.html" %}
{% load widget_tweaks %}

{% block title %} | {{ title }}{% endblock %}

{% block head %}
{{ block.super }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block body %}
<div class="form-container">
    <h4 class="mb-4 text-center">{{ title }}</h4>
    <div class="card">
        <div class="card-body">
            {% include 'salary/salary_payment_form_content.html' %}
        </div>
    </div>
</div>
{% endblock %}
